@font-face {
    font-family: 'fjallaoneregular';
    src: url('police/FjallaOne-Regular-webfont.eot');
    src: url('police/FjallaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/FjallaOne-Regular-webfont.woff2') format('woff2'),
         url('police/FjallaOne-Regular-webfont.woff') format('woff'),
         url('police/FjallaOne-Regular-webfont.ttf') format('truetype'),
         url('police/FjallaOne-Regular-webfont.svg#fjallaoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a {
    font-family: fjallaoneregular;
    display: inline;
    padding-right: 8%;
    font-size: 99%;
    text-decoration: none;
    color :black;
    
    
    
}

nav {
    text-align: center;
}







